.buttons a{
    font-family: "Poppins";
    padding: 10px;
    text-decoration: none;
    border-style: solid;
    border-color: black;
    color: black;
    font-size: 20px;
}

.buttons a:hover{
    background-color: black;
    border-color: black;
    color: white;
}

.button_home tr{
    padding: 20px;
    
}
.captions{
    font-family: "Poppins";
    font-size: "15px";
    color: black;
}
.head_title{
    background-color: #81c9d6;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 40px;
    font-family: "Poppins";
    font-size: 65px;
}

.content_table table{
    table-layout: fixed ;
    width: 100% ;
    text-align: left;
}
          
.content_table th{
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
}
.content_table td{
    padding-top: 25px;
    font-size: 15px;
    font-family: "Lato";
}
            
.content_table tr:nth-child(1) th:nth-child(1) {
    background-color: #aed1cd;
}
.content_table tr:nth-child(1) th:nth-child(2) {
    background-color: #aed1cd;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: "Poppins";
}

.navbar a {
    float: left;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a.active{
    background-color: #81c9d6;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 18px;  
    border: none;
    outline: none;
    color: white;
    padding: 10px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #aed1cd;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #55a3a1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.title_page{
    padding-left: 20px;
    padding-right: 20px;
}
.title_page tr:nth-child(1) th:nth-child(3) {
    background-color: #a6dae3;   
    font-family: "Poppins";
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #000000;
            }
.title_page tr:nth-child(1) th:nth-child(1) {
    background-color: #ffffff;  
    color: #ffffff;
    padding-right: 40px;
}
.title_page tr:nth-child(1) th:nth-child(2) {
    background-color: #ffffff;  
    color: #ffffff;
    padding-right: 40px;
}
.title_page tr:nth-child(1) th:nth-child(4) {
    background-color: #ffffff;  
    color: #ffffff;
    padding-right: 40px;
}
.title_page tr:nth-child(1) th:nth-child(5) {
    background-color: #ffffff;  
    color: #ffffff;
    padding-right: 40px;
}
.quotes tr:nth-child(1) th:nth-child(1) {
    background-color: #ffffff;  
    color: #ffffff;
    padding-right: 40px;
}
.quotes tr:nth-child(1) th:nth-child(2) {
    background-color: #ffffff;  
    color: #ffffff;
    padding-right: 40px;
}
.quotes tr:nth-child(1) th:nth-child(4) {
    background-color: #ffffff;  
    color: #ffffff;
    padding-right: 40px;
}
.quotes tr:nth-child(1) th:nth-child(5) {
    background-color: #ffffff;  
    color: #ffffff;
    padding-right: 40px;
}
.quotes tr:nth-child(1) th:nth-child(3) {
    background-color: #ffffff;   
    font-family: "Poppins";
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #000000;
    border-top-style: solid;
    border-bottom-style: solid;
}